
/*------------ filter slider ---------------*/
.filter_price{

}
.range_title{
    font-size:14px;
}
.price-input {
    padding-top: 0.5em;

}
.price-input-i {
    padding-top: 0.5em;
    float: left;
    font-size: 0.92308em;
}
.input-text{
    width: 3.25em;
    font-size: 0.8em;
    border: 1px solid #c2c2cc;
    border-radius: 3px;
    box-shadow: inset 3px 3px 1px 0 #eeeeef;
    padding: 0.33333em;
    resize: none;
}

.bigtree2 li{
    display: list-item;
    padding-left:42px;

}

/*---------------- 404 --------------------*/
